<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int-file="http://www.springframework.org/schema/integration/file"
       xmlns:int-event="http://www.springframework.org/schema/integration/event"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/lang
        http://www.springframework.org/schema/lang/spring-lang-2.0.xsd
        http://www.springframework.org/schema/integration
        http://www.springframework.org/schema/integration/spring-integration.xsd
        http://www.springframework.org/schema/integration/file
        http://www.springframework.org/schema/integration/file/spring-integration-file.xsd
        http://www.springframework.org/schema/integration/event
        http://www.springframework.org/schema/integration/event/spring-integration-event.xsd">
    <bean id="helloWorld" class="uk.org.ppa.SpringSample.HelloWorld" init-method="read">
        <property name="location" value="/Users/Robert/Downloads/SpringSample/src/main/java/input.txt"/>
    </bean>

    <lang:groovy id="FileWriter">
        <lang:inline-script>
            <![CDATA[
            package com.opencast.SpringSample;

            public class FileWriter implements IFileWriter {
                String filename
                String initialText
                private ArrayList<String> messageData
                private ArrayList<String> dataToWrite = new ArrayList<String>();

                public String getFilename() {
                    return filename
                }

                public String getInitialText() {
                    return initialText
                }

                public void setMessageData(ArrayList<String> messageData) {
                    this.messageData  = messageData
                }

                public ArrayList<String> getDataToWrite() {
                    return dataToWrite
                }

                private boolean processFilter(String item) {
                    return item.contains('write')
                }

                private String processMapper(String item) {
                    return "${ item } PROCESSED"
                }

                public List<String> processData(List<String> messageData) {
                    List<String> dataToWrite = new ArrayList<String>();
                    messageData.each {
                        if (processFilter(it)) {
                            dataToWrite.add(processMapper(it))
                        }
                    }
                    dataToWrite
                }
            }
        ]]>

        </lang:inline-script>

        <lang:property name="filename" value="Sample.txt"/>
        <lang:property name="initialText" value="Gary"/>

    </lang:groovy>
    
    <bean id="process" class="uk.org.ppa.SpringSample.HelloWorld" init-method="run">
        <property name="writer" ref="FileWriter"/>
    </bean>

    <bean id="write" class="uk.org.ppa.SpringSample.HelloWorld" init-method="write"/>


</beans>